.btn {
  background: $green;
  max-width: 329px;
  width: 100%;
  height: 59px;
  border-radius: 18px;
  font-size: 24px;
  font-weight: 500;
  font-family: $starwars;
  border: none;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    text-decoration: none;
    color: white;
  }

  @include max-xxl {
    font-size: 19.2px;
    width: 263.2px;
    height: 47.2px;
  }

  @include max-md {
    font-size: 15.36px;
    width: 210.56px;
    height: 37.76px;
  }


  &-white {
    background: white;
    color: $slate-blue;
    &:hover {
      color: $slate-blue;
    }
  }

  &-outline {
    background: transparent;
    border: 1px solid black;
    color: black;
    &:hover {
      color: black;
    }
  }
}
