.btn {
  background: $green;
  width: 329px;
  height: 59px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 500;
  font-family: $starwars;
  border: none;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  @include max-xxl {
    width: 279px;
    height: 50.033434650456px;
  }


  &-white {
    background: white;
    color: $slate-blue;
  }

  &-outline {
    background: transparent;
    border: 1px solid #000000;
    color: #000000;
  }
}
