.emotional-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__image {
    float: left;
    margin-left: -56px;
    position: relative;
    z-index: 1;
    img {
      width: auto;
      height: 587px;
      display: block;
    }
  }

  &__content {
    position: relative;
    width: 705px;
    float: left;
    z-index: 2;
    padding-bottom: 70px;
  }

  &__heading {
    font-family: 'Kanit';
    font-weight: 800;
    font-style: italic;
    font-size: 310px;
    color: white;
    margin-bottom: -59px;
    margin-left: 9px;
    line-height: 1em;
    text-transform: uppercase;
  }

  &__text-box {
    background: white;
    padding: 64px 52px 64px 64px;


    h3 {
      color: $green;
      font-size: 46px;
      font-weight: 650;
      margin-bottom: 6px;
      text-transform: uppercase;
      line-height: 1em;
    }

    p {
      font-family: 'Open Sans';
      font-size: 22px;
      line-height: 34px;
      margin: 0;
    }
  }

}
