.friend-foe {
  ul.uk-slider-items {
    grid-gap: 2%;
  }

  &__item {
    border-radius: 22px;
    overflow: hidden;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__label {
    font-family: $starwars;
    font-size: 17px;
    display: block;
    margin-top: 247px;
    margin-bottom: 8px;
    line-height: 1em;
    text-transform: uppercase;
    @include max-xl {
      margin-top: 200px;
    }
  }

  &__name {
    font-family: $starwars;
    font-style: italic;
    font-size: 39.51px;
    display: block;
    margin-top: 0;
    line-height: 1em;
    text-transform: uppercase;
  }

  &__text {
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: white;
    padding-left: 31px;
  }
}
