.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;

  &__header {
    height: 100vh;
    margin-top: -94px;
    display: flex;
    align-items: flex-end;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
     video {
       min-width: 100%;
       min-height: 100%;
     }
  }

  &__overlay {

  }

  &__overlay-content {
    z-index: 2;
    margin-left: 7.239583%;
    margin-bottom: 7.239583%;

    h1, p, button {
      color: white;
    }

    h1 {
      font-family: $starwars;
      font-weight: 450;
      font-size: 98px;
      line-height: 0.9em;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      @include max-xxl {
        font-size: 78.4px;
        letter-spacing: 0.38px;
      }
      @include max-md {
        font-size: 55px;
      }

      .strong {
        font-weight: 800;
        font-style: italic;
        letter-spacing: 0px;
      }
    }

    p {
      font-family: $open-sans;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 43px;
      max-width: 25em;
      width: 100%;
      @include max-xxl {
        font-size: 16.8px;
        margin-bottom: 34.4px;
      }
      @include max-md {
        font-size: 16px;
        max-width: 18em;
      }
    }
  }
}
