* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

h2 {
  color: $slate-blue;
  line-height: 1em;
}

h3 {
  color: $slate-blue;
  font-family: $starwars;
  font-size: 48px;
  line-height: 1em;
  margin-bottom: .875em;
  text-transform: uppercase;
  @include max-xxl {
    font-size: 38.4px;
  }
  @include max-xl {
    font-size: 36px;
  }
  @include max-lg {
    font-size: 32px;
  }
  @include max-md {
    font-size: 30px;
  }
  @include max-sm {
    font-size: 28px;
  }
}

p {
  font-family: $open-sans;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 22px;
}

.text-green {
  color: $green;
}

.text-white {
  color: white;
}

.slash-grey {
  color: $slash-grey;
}

.text-slate-blue {
  color: $slate-blue;
}

.star-bg {
  background: url('/dist/img/star-field.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.content-container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.responsive-image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.arrow {
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border-right: 3px solid white;
  border-top: 3px solid white;
  transform: rotate(45deg);
  display: block;
  background: transparent!important;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 65px;
  z-index: 3;
  @include max-md {
    right: 16px;
    display: none;
  }

  &--prev {
    transform: rotate(225deg);
    right: initial;
    left: 65px;
    z-index: 3;
    @include max-md {
      left: 16px;
    }
  }

  &--black {
    border-color: black;
  }
}

.uk-slider-nav.uk-dotnav {
  width: 100%;
  height: 2rem;
  display: none;
  @include max-md {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
