.header {
  color: white;
  width: 100%;
  z-index: 20;

  .grogu {
    width: 164px;
    height: 94px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    fill: white;
  }

  .grogu-eye {
    fill: $slate-blue;
    stroke: white;
    stroke-width: 4;
  }

  &__nav {
    padding: 0 75px;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      height: 94px;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    $nav-pad: 30%;

    li {
      text-align: center;
      margin-right: 32px;

      &:nth-child(3) {
        padding-right: calc(100% - 688px);
        margin-right: 0;
      }

      &:nth-child(4) {

      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      color: white;
      font-family: $starwars;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 600;
    }
  }

  &__nav-button {
    background: $green;
    border-radius: 6px;
    padding: 3px 9px;
    color: white !important;
  }

  &--color {
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.125);

    .header__nav ul li a {
      color: $slate-blue;
    }

    .grogu {
      fill: $green;
    }

    .grogu-eye {
      stroke-width: 0;
    }
  }
}
