.photo-grid {
  display: grid;
  grid-template-columns:1fr .9369747899159664fr;
  grid-template-areas: 'soup stroller'
'soup buttons';
  grid-gap: 20px;
  padding-bottom: 20px;
  flex: 0 0 50%;

  .responsive-image {
    &:nth-child(1) {
      grid-area: soup;
    }
    &:nth-child(2) {
      grid-area: stroller;
    }
    &:nth-child(3) {
      grid-area: buttons;
    }
  }

  &__content {
    margin-left: 75px;
    margin-right: 145px;

    p {
      font-family: 'Open Sans';
      font-size: 22px;
      line-height: 36px;
      font-weight: 400;
      color: #000000;

      &:last-of-type {
        padding-bottom: 85px;
      }
    }
  }

}
