.section {
  margin-bottom: 48px;

  &__heading {
    font-family: $starwars;
    font-size: 100px;
    font-weight: 500;
    padding-top: 120px;
    padding-bottom: 88px;
    text-transform: uppercase;

    @include max-xl {
      font-size: 80px;
      padding-top: 96px;
      padding-bottom: 70.4px;
    }

    @include max-lg {
      font-size: 64px;
      padding-top: 76.8px;
      padding-bottom: 56.32px;
    }

    @include max-md {
      font-size: 51.2px;
      padding-top: 61.44px;
      padding-bottom: 45.056px;
    }

    @include max-sm {
      font-size: 40.96px;
      padding-top: 49.152px;
      padding-bottom: 36.0448px;
    }
  }
}

#emotionalStatesSection {
  padding-bottom: 115px;

  h2 {
    font-weight: 500;
    padding: 115px 0 111px 0;
    margin-left: 32px;
    line-height: 60px;
    margin-bottom: 0;
  }
}


