.skills {
  margin-bottom: 186px;

  &__container {
    @include max-lg {
      overflow: hidden;
      position: relative;
    }
  }

  &__line {
    width: 100%;
    height: 9px;
    background: $green;
    border-top: 12px solid $slate-blue;
    border-bottom: 12px solid $slate-blue;
    box-sizing: content-box;

    @include max-lg {
      display: none;
    }
  }

  &__number {
    background: $green;
    border-radius: 50%;
    width: 106px;
    height: 106px;
    margin: -73px auto 46px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    font-family: $starwars;
    @include max-lg {
      margin: 0;

      &:before {
        content: '';
        width: 100%;
        height: 9px;
        background: $green;
        border-top: 12px solid $slate-blue;
        border-bottom: 12px solid $slate-blue;
        box-sizing: content-box;
        position: absolute;
        right: 0;
        z-index: -1;
      }
    }
  }


}
