.spot-list {

  &__content {
    @include max-lg {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;

    @include max-lg {
      grid-template-columns: 1fr;
      grid-row-gap: 4rem;
      padding-bottom: 4rem;
    }
  }

  &__item {
    text-align: center;
  }

  &__heading {
    text-align: center;
    margin-bottom: 27px;
    font-weight: 500;

  }

  &__text {
    text-align: center;
    max-width: 27em;
    margin: 18px auto;
  }


  &__stars {
    display: flex;
    justify-content: center;
    img {
      width: 57px;
      margin-right: 12px;
      @include max-md {
        width: 48px;
      }
    }
  }
}
